main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 25px;
}

h1{
  font-size: 250%;
  text-shadow: 3px 3px 3px gray;
  z-index: 0;
}

button {
  height: 125px;
  width: 250px;
  border-radius: 20px;
  font-size: 1.5em;
  color: black;
  transition: all 1s ease-in-out;
  box-shadow: 5px 5px 5px gray;
  z-index: 0;
}

.sombre {
  background-color: black;
  color: white;
}

.sombre button {
  background-color: gray;
  color: white;
  box-shadow: 5px 5px 5px gray;
}

button:active {
  animation: violentShakeButton 10s ease-in-out;
}

@keyframes violentShakeButton {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-15px, -15px);
  }
  20% {
    transform: translate(30px, 75px);
  }
  30% {
    transform: translate(-20px, 10px);
  }
  40% {
    transform: translate(20px, -10px);
  }
  50% {
    transform: translate(-75px, 90px);
  }
  60% {
    transform: translate(75px, -90px);
  }
  70% {
    transform: translate(-30px, 20px);
  }
  80% {
    transform: translate(30px, -20px);
  }
  90% {
    transform: translate(-35px, 25px);
  }
  100% {
    transform: translate(0, 0);
  }
}

body:active {
  animation: violentShakeAll 10s ease-in-out;
}

@keyframes violentShakeAll {
  0% {
    transform: translate(0,0);
  }
  10% {
    transform: translate(-5px, -5px);
  }
  20% {
    transform: translate(5px, 5px);
  }
  30% {
    transform: translate(45px, -25px);
  }
  40% {
    transform: translate(-10px, 5px);
  }
  50% {
    transform: translate(35px, -45px);
  }
  60% {
    transform: translate(-35px, 45px);
  }
  70% {
    transform: translate(15px, -10px);
  }
  80% {
    transform: translate(-15px, 10px);
  }
  90% {
    transform: translate(15px, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}